.booking-box-search{
    background-color: gray;
}
.amenties-box-search{
    background-color: #0A7CFF
}
.btn-search-map{
    background-color: #EE3840;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}