// active tab
.active-tab {
  background-color: #0a7cff;
  color: white;
}

// hide scrollbar of packages list
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.order-phone-input:focus ~ .phone-code {
  border-color: #80bdff !important;
}
